[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/KevinHuang1
[access "refs/for/refs/*"]
	read = group user/KevinHuang1
	push = group user/KevinHuang1
	label-Code-Review = -2..+2 group user/KevinHuang1
	label-Verified = -1..+1 group user/KevinHuang1
	rebase = group user/KevinHuang1
	removeReviewer = group user/KevinHuang1
	submit = group user/KevinHuang1
[access "refs/heads/*"]
	read = group user/KevinHuang1
	create = group user/KevinHuang1
	push = +force group user/KevinHuang1
	pushMerge = group user/KevinHuang1
[access "refs/tags/*"]
	push = +force group user/KevinHuang1
	pushTag = group user/KevinHuang1
	pushSignedTag = group user/KevinHuang1
